<h3>hi there!</h3>

<%= @list.title %>
<br/>
<ul>
  <% @list.items.each do |item| %>
    <li><%= item.name %> | <%= item.description %></li>
  <% end %>
</ul>

<%= link_to "Delete list", user_list_path(@user, @list), method: "Delete" %>