<%= render "/layouts/flash_messages" %>
<div class="jumbotron">
  <div class="text-center">
    <h1>Get Groceries!</h1>
    <i class="fa fa-shopping-cart fa-5x"></i>
    <p>
      A simple Grocery List App. 
    </p>
    <p><a class="btn btn-primary btn-lg" href="/users/new" role="button">Register</a></p>
  </div>

  <!-- <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <%= image_tag "image1.jpg" %>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <%= image_tag "image1.jpg" %>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <%= image_tag "image1.jpg" %>
        </a>
      </div>
    </div>
  </div> -->
</div>



