<%= render "/layouts/flash_messages" %>
<div class="jumbotron">
  <div class="text-center">
    <h1>Get Groceries!</h1>
    <i class="fa fa-shopping-cart fa-5x"></i>
    <p>
      A simple Grocery List App. 
    </p>
    <p>
      <% if logged_in? %>
        <%= link_to("Get Started", user_path(session[:user_id]), html_options = {class: "btn btn-primary btn-lg"}) %>
      <% else %>
        <a class="btn btn-primary btn-lg" href="/users/new" role="button">Register</a>
      <% end %>
    </p>
  </div>
</div>



