<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="fa fa-shopping-cart"></i> Get Groceries!</a>
    </div>
    <div class="pull-right">
      <% if !logged_in? %>
        <a href="/login"><button type="button" class="btn btn-default navbar-btn">Sign in</button></a>
      <% else %>
        <%= link_to "Hi, #{current_user.username.capitalize}", user_path(current_user) %>
        <a href="/logout"><button type="button" class="btn btn-default navbar-btn">Log out</button></a>
      <% end %>
    </div>
  </div>
</nav>